@import "tailwindcss";


body {
    /* overflow-y: hidden; */
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("/assets/backgroundYellow3.jpg");  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    size: 200px;
}

#chartdiv {
    width: 1115px;
    height: 1115px;
    border-radius: 85%;
    /* background: rgb(31, 11, 113); */
    /* background: linear-gradient(45deg, #1f0b71, #2a63ff); */
    position: fixed;
    bottom: 0px;
    right: -200px;
    transform: translateX(3%);
    transform: translateY(24%);
  }

.margin{
    margin-left: 30%;
    margin-bottom: -5%;
}

@media screen and (min-width: 300px) {

    #chartdiv {
        width: 600px;
        height: 600px;
      }
      .margin{
        margin-left: 20%;
        margin-bottom: -5%;
    }
    .roundeed{
      border-radius: 45px;
      padding: 20px;
    }
    
    .margin-top-tempeture{
      margin-top: -40px;
    }
    
    .marginTempeture{
      margin-bottom: 4px;
    }
    
    .marginCountry{
      margin-top: 22px;
    }
    
    .marginCountryTempeture{
      margin-left: -80px;
    }
    
    .windMargin{
      margin-left: 10px;
    }
    
    .marginData{
      margin-right: -20px;
    }
    .divIcons{
      width: fit-content;
    }
}
@media screen and (min-width: 400px) {

    #chartdiv {
        width: 800px;
        height: 800px;
      }
      .marginParent{
        margin-top: 10px;
      }
      
      .marginParentButtn{
        margin-bottom: 10px;
      }
      
      .marginLeftDiv{
        margin-left: 20px;
      }
      
      .marginLeft{
        margin-left: 280px;
      }
      
      .roundeed{
        border-radius: 45px;
        padding: 20px;
      }
      
      .margin-top-tempeture{
        margin-top: -40px;
      }
      
      .marginTempeture{
        margin-bottom: 4px;
        margin-left: 10px;
      }
      
      .marginCountry{
        margin-top: 22px;
      }
      
      .marginCountryTempeture{
        margin-left: 20px;
      }
      
      .windMargin{
        margin-right: 40px;
      }
      
      .marginData{
        margin-right: 35px;
        margin-top: 5px;
      }
      .divIcons{
        width: fit-content;
      }
}

@media screen and (min-width: 1200px) {
    #chartdiv {
        width: 1000px;
        height: 1000px;
      }     
      .margin{
        margin-left: 40%;
        margin-bottom: -15%;
    }   
    .marginParent{
      margin-top: 10px;
    }
    
    .marginParentButtn{
      margin-bottom: 10px;
    }
    
    .marginLeftDiv{
      margin-left: 20px;
    }
    
    .marginLeft{
      margin-left: 280px;
    }
    
    .roundeed{
      border-radius: 45px;
      padding: 20px;
    }
    
    .margin-top-tempeture{
      margin-top: -40px;
    }
    
    .marginTempeture{
      margin-bottom: 4px;
      margin-left: 10px;
    }
    
    .marginCountry{
      margin-top: 22px;
    }
    
    .marginCountryTempeture{
      margin-left: 20px;
    }
    
    .windMargin{
      margin-right: 40px;
    }
    
    .marginData{
      margin-right: 35px;
      margin-top: 5px;
    }
    .divIcons{
      width: fit-content;
    }
    
}

@media screen and (min-width: 1400px) {
#chartdiv {
    width: 1115px;
    height: 1115px;
  }     
  .margin{
    margin-right: 24%;
    margin-bottom: -20%;
}   

.marginParent{
  margin-top: 10px;
}

.marginParentButtn{
  margin-bottom: 10px;
}

.marginLeftDiv{
  margin-left: 20px;
}

.marginLeft{
  margin-left: 280px;
}

.roundeed{
  border-radius: 45px;
  padding: 20px;
}

.margin-top-tempeture{
  margin-top: -40px;
}

.marginTempeture{
  margin-bottom: 4px;
  margin-left: 10px;
}

.marginCountry{
  margin-top: 22px;
}

.marginCountryTempeture{
  margin-left: 20px;
}

.windMargin{
  margin-right: 40px;
}

.marginData{
  margin-right: 35px;
  margin-top: 5px;
}
.divIcons{
  width: fit-content;
}
}







/* main{
    min-height: 100%;
    background-color: transparent !important;
} */

.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.borderRadious{
    border-radius: 950px;
    padding: 4px;
    width: 700px;
    height: 50px;
}



.center-items{  
    justify-content: center;
}


.modal {
    display: none; /* Hidden by default */
    position: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 10%;
    height: 10%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 12px;
    width: 10%;
    text-align: center;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
  }


.parent {
  container-name: myContainer;
  container-type: inline-size;
}


@container myContainer (width < 500px) {
  .child {
    width: 200px;  
    background-color: rgb(56, 56, 63);
    border-radius: 35px;
    padding: 20px;
  }
  .child2 {
    width: 200px;  
    /* background-color: rgb(156, 151, 151); */
    border-radius: 35px;
    padding: 20px;
    margin-left: 120px;
  }
}

.marginParent{
  margin-top: 10px;
}

.marginParentButtn{
  margin-bottom: 10px;
}

.marginLeftDiv{
  margin-left: 20px;
}

.marginLeft{
  margin-left: 280px;
}

.roundeed{
  border-radius: 45px;
  padding: 20px;
}

.margin-top-tempeture{
  margin-top: -40px;
}

.marginTempeture{
  margin-bottom: 4px;
  margin-left: 10px;
}

.marginCountry{
  margin-top: 22px;
}

.marginCountryTempeture{
  margin-left: 20px;
}

.windMargin{
  margin-right: 40px;
}

.marginData{
  margin-right: 35px;
  margin-top: 5px;
}